<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analyser</title>
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>
    <body>
        <header><h1>Sentiment Analyser</h1></header>
        
        <h2>Enter Text</h2>

        <form id="input" method="post" action="predict">
            <input type="text" name="text" value="Enter text here" style="width: 300px; height: 100px;"> <br>
            <input type="submit" value="Submit">
        </form>

    
    </body>
</html>