<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analyser</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header><h1>Sentiment Analyser</h1></header>
        
        <div>
            <form id="input" method="post" action="predict">
                <input class="text_input" type="text" name="text" placeholder="Enter Text Here" style="width: 400px; height: 100px;"> <br>
                <input class="button" type="submit" value="Submit">
            </form>
        </div>
            
        
            
    </body>
</html>